/* Загальні стилі сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0; /* Світлий зелений фон */
    color: #003300; /* Темно-зелений колір тексту */
    margin: 0;
    padding: 0;
}

/* Стилі для кнопок */
button {
    background-color: #4CAF50; /* Зелений колір кнопки */
    color: white; /* Білий колір тексту кнопки */
    padding: 10px 20px; /* Відступи внутрішні */
    border: none; /* Відсутність рамки */
    cursor: pointer; /* Змінна вказівника при наведенні */
    border-radius: 5px; /* Закруглені кути */
}

/* Стилі для контейнера гри */
#field-cont {
    display: grid; /* Використання сітки для розташування елементів */
    grid-template-columns: repeat(5, 1fr); /* 5 стовпців однакової ширини */
    gap: 10px; /* Відступи між елементами */
}

/* Стилі для клітинок поля гри */
.cell {
    width: 50px; /* Ширина клітинки */
    height: 50px; /* Висота клітинки */
    background-color: #7CFC00; /* Зелений колір клітинки */
    border-radius: 5px; /* Закруглені кути */
    cursor: pointer; /* Змінна вказівника при наведенні */
}

/* Стилі для текстових елементів */
label, div {
    color: #003300; /* Темно-зелений колір тексту */
    margin-bottom: 5px; /* Відступ знизу */
}

/* Стилі для інформації про таймер, кількість ходів та ціль гри */
#timer, #moves, #target {
    font-weight: bold; /* Напівжирний шрифт */
}

/* Стилі для елемента головної панелі */
.panel {
    background-color: #7CFC00; /* Зелений колір панелі */
    padding: 10px; /* Внутрішні відступи */
    margin-bottom: 10px; /* Зовнішній відступ знизу */
}

/* Стилі для елемента статистики гри */
.stats__game {
    background-color: #7CFC00; /* Зелений колір блоку статистики */
    padding: 10px; /* Внутрішні відступи */
    border-radius: 5px; /* Закруглені кути */
    margin-bottom: 20px; /* Зовнішній відступ знизу */
}
