body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0; 
    color: #003300;
    margin: 0;
    padding: 0;
}

button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #7CFC00;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #003300; 
    margin: 0; 
}

.cell.off {
    background-color: #003300;
}

.cell.on {
    background-color: #4CAF50;
}

.field {
    margin-top: 20px;
    display: inline-block;
}

.row {
    line-height: 0;
}
